table {
  width: 100%;
  margin: 50px 0px;
  border-spacing: 15px;
  color: #444;
}

th {
  width: 250px;
  text-align: center;
  font-weight: bolder;
  padding: 15px 10px;
}

td {
  width: 250px;
  text-align: center;
}

/* Media Queries  */

@media screen and (max-width: 700px) {
  th {
    font-size: large;
  }
  td {
    font-size: medium;
  }
}

@media screen and (max-width: 400px) {
  th {
    font-size: medium;
  }
  td {
    font-size: small;
  }
}
